body {
	margin: 20px;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
	background: #87c989;
}
::-webkit-scrollbar-thumb:hover {
	background: #53ad55;
}
.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;
}
.button-holder {
	background-color: #7baf5f;
	padding: 40px;
	display: flex;
	flex-direction: column;
	color: #e3e3e3;
}
button {
	background-color: #3d3d37;
	padding: 20px;
	color: #a8ce95;
	border: 2px solid rgba(61, 61, 55, 0);
	border-radius: 3px;
	margin-top: 20px;
	transition: ease-in-out 100ms;
}
button:hover {
	background-color: #7baf5f;
	color: #e3e3e3;
	cursor: pointer;
}
.button-holder button:hover {
	border: 2px solid #e3e3e3;
}
button:active {
	background-color: #e3e3e3;
}
.button-holder span {
	font-size: 30px;
	margin-top: 10px
}
.positioning-holder {
	margin-top: 10px;
	display: flex;
	align-items: center;
	position: relative
}
.positioning-holder span {
	margin-right: 10px
}
.positioning-holder img {
	opacity: 0;
	position: absolute;
	margin-left: 120px;
}
.hidden-text-holder {
	margin-top: 20px;
	width: 400px;
	/*height: 100px;*/
	display: inline-block;
	padding: 10px;
}
.hidden-text-holder button {
	padding: 3px;
	margin: 0;
}
.toggle-text {
	margin-top: 20px;
	font-size: 13px;
	position: relative;
	display: flex;
	align-items: center;
	border: thick solid #7baf5f;
	
}
.toggle-text-field {
	width: 250px;
	padding: 10px;
}
.toggle-text button {
	margin: 0;
	padding: 0;
	width: 100px;
	border-radius: 0;
	height: 40px;
}
.button-active {
	background-color: #7baf5f;
	color: #e3e3e3;
}
.button-section {
	display: flex;
	flex-direction: column;
}
.news-section {
	font-size: 13px;
	margin-top: 20px;
	background-color: #e6e7db;
	width: 600px;
	padding: 20px;
	justify-content: center;
}
.news-section div {
	text-align: left;
	position: relative;
}
.news-section button.remove {
	padding: 0;
	margin: 0;
	background-color: #d7cb77;
	position: absolute;
	right: 10px;
	top: 0;
}
.news-section > button {
	padding: 10px;
}
hr {
	height: 2px;
	background-color: #53ad55;
}
.progress-bar {
	margin-top: 20px;
	border: thick solid #276c7c;
	width: 400px;
	height: 50px;
	border-radius: 10px;
	background-color: #144350;
	position: relative;
	cursor: pointer;
}
.progress-bar > div {
	width: 0;
	height: 50px;
	border-radius: 10px;
	background-image: url("https://sun9-39.userapi.com/impg/OZ0po2wS7cb9RL93aXPolKgYtgsrWHBBHPqkKg/Pz5p6AHErw0.jpg?size=1498x401&quality=96&sign=955c114f5500922ecdbcfe22836ad293&type=album");
	background-size: 400px;
	background-position-y: 50%;
	position: absolute;
}
.progress-bar span {
	color: #5c7185;
	user-select: none;
	text-align: center;
	display: block;
	margin-top: 15px;
}